{% extends "base.html" %}
{% block content %}
<section class="panel content-card">
  <h1>Impressum</h1>

  <p>Angaben gemäß § 5 TMG.</p>

  <h2>Anbieter</h2>
  <p>
    MealMate<br>
    DataSmartPoint Academy
  </p>

  <h2>Adresse</h2>
  <p>
    Musterstrasse 12<br>
    45879 Gelsenkirchen<br>
    Deutschland
  </p>

  <h2>Kontakt</h2>
  <p>
    Telefon: +49 209 123456<br>
    E-Mail: info@kitchen-hell-and-heaven.app
  </p>

  <h2>Verantwortlich für den Inhalt</h2>
  <p>
    Team "MealMate"
  </p>
  <p>
    Entwicklerteam:<br>
    Koordination + Entwicklung: Charleen Martina Rudnik<br>
    Datenbanksupport: Michael Hornung<br>
    Entwicklung: Hiba Ben Rhouma<br>
    Entwicklung: Annick Tchuenkam<br>
    Design: Kevin Brandt
  </p>

  <h2>USt-IdNr.</h2>
  <p>DE123456789</p>

  <h2>Haftungshinweis</h2>
  <p>
    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.
    Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
  </p>
</section>
{% endblock %}
